section.home_s-1
	.container
		.home-slide-1-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide
							.wrapper
								.card-img
									a(href="#")
										img(src="./img/home/h-1.png", alt="")
								.title
									a(href="#") Cho bao bì giấy 
