.home_s-1
	padding: 25px 0 45px 0
	background: #f0f5f9
	@media screen and ( max-width: 1024px)
		padding: 5px 0
	.home-slide-1-swiper-wrapper
		position: relative
		margin-top: 20px
		@media screen and ( max-width: 576px)
			margin-top: 10px
	.nav-arrow-prev,.nav-arrow-next
		position: absolute
		width: 40px
		height: 40px
		top: 30%
		transition: .3s all  ease-in-out
		cursor: pointer
		display: flex
		justify-content: center
		align-items: center
		em
			transition: .3s all  ease-in-out
			color: #999999
			font-size: 24px
		&:hover
			em
				color: #da251c
		&:focus
			outline: none
	.nav-arrow-next
		right: -50px
		@media screen and ( max-width: 1350px)
			right: 0
		@media screen and ( max-width: 576px)
			right: 0
			
	.nav-arrow-prev
		left: -50px
		@media screen and ( max-width: 1350px)
			left: 0
		@media screen and ( max-width: 576px)
			left: 0
	.swiper-container
		margin: 0
		@media screen and ( max-width: 1350px)
			margin: 0 50px
	.wrapper
		.card-img
			display: flex
			justify-content: center
			align-items: center
			padding-top: 20px
			a
				display: block
				max-width: 100%
				max-height: 100%
				width: 100%
				height: 140px
				img
					width: 100%
					height: 100%
					object-fit: contain
		.title
			a
				font-size: 16px
				color: #333333
				display: flex
				justify-content: center
				align-items: center
				margin-top: 10px
				font-weight: 600
				-webkit-box-orient: vertical
				-webkit-line-clamp: 2
				-o-text-overflow: ellipsis
				display: -webkit-box
				overflow: hidden
				text-overflow: ellipsis
				height: 45px
				text-align: center
				&:hover
					color: #da251c
