section.home_s-6
	.container
		h2.head-title Đối tác - khách hàng
		.brand-slider-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0; i<18; i++)
						.swiper-slide
							.brand-img.zoom-in
								img(src="./img/home/brand.png", alt="") 
