section.haumai-list
	.container
		h1.head-title Hậu mãi
		.row
			-for(i=0;i<3;i++)
				.col-lg-4
					.block-haumai
						.card-img.zoom-in
							a(href="#")
								img(src="./img/haumai/1.png", alt="") 
							a(href="#").btn-sp Hướng dẫn sử dụng
