.wrap-form
	margin-top: 20px

	input[type='text'], textarea
		width: 100%
		padding: 9px 20px
		font-size: 15px
		border: 0
		margin-bottom: 20px
		color: #333333
		background: #f5f5f5
		// caret-color: $main
		transition: .3s all ease-in-out
		&:placeholder
			color: #999999
			font-size: 16px
			font-weight: 400
		&:focus
			outline: none
			// border-color: $main
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
	textarea
		height: 170px
	&>div
		display: flex
		// flex-wrap: wrap
		// margin: 0 -5px
		// .qtext
		// 	padding: 0 5px
		// 	flex: 0 0 50%
		// 	margin-bottom: 20px
		// 	@media(max-width: 768px)
		// 		flex: 0 0 100%
		// .qparagraph
		// 	flex: 0 0 100%
		// 	padding: 0 5px
		// 	margin-bottom: 20px
		span
			color: red
			font-size: 13px
	.frm-captcha
		// display: flex
		// align-items: center
		// flex-direction: row-reverse
		// justify-content: flex-end
		// display: flex
		// .frm-captcha-input
		// 	width: calc(100% - 227px)
		// 	label
		// 		display: none
		// .RadCaptcha
		// 	width: auto!important
		// 	position: relative
		// 	span
		// 		position: absolute
		// 		bottom: 100%
		// 	&>div>div
		// 		align-items: center
		// 		display: flex
		// 		width: 227px
		.rcRefreshImage
			margin: 0 10px
			font-size: 0
			&:after
				color: #999
				font-family: Material Icons
				font-size: 32px
				font-weight: 400
				content: "replay"
	.frm-btnwrap
		position: absolute
		right: 0
		@media screen and ( max-width: 768px)
			position: unset
		label
			display: none
		.frm-btn-reset
			display: none
		.frm-btn
			width: fit-content
			&::after
				position: absolute
				right: 28px
				top: 50%
				transform: translateY(-50%)
				content: 'arrow_forward'
				font-family: 'Material Icons'
				color: white
				font-size: r(26px)
				text-transform: none
				pointer-events: none
				transition: .3s all ease-in-out
		input
			width: 180px
			padding: 8px 30px
			border-radius: 50px
			background: #004995 !important
			text-transform: uppercase
			color: #ffffff
			border: none
			transition: .3s all ease-in-out
			position: relative
			&:hover
				background-color: #da251c !important
				box-shadow: 0 0px 15px rgba(#da251c,.5 )

	@media(min-width: 768px)
		.frm-btnwrap
			float: left
			margin-top: 0
			width: 25%
			margin-left: 10px

.frm-btn-reset
	display: none
.frm-captcha
	margin-top: 20px !important
	position: relative
	@media screen and ( max-width: 576px)
		margin-top: 15px !important
	img
		height: 40px !important
		max-width: auto
		max-width: 170px
		@media screen and ( max-width:1200px)
			max-width: 100%
		@media screen and ( max-width: 576px)
			max-width: 120px
	.frm-captcha-input
		margin-top: 0
		padding: 0 60px 0 0 !important
		margin: 0 !important
		order: 1
		width: 100%
		@media screen and ( max-width: 768px)
			width: 100%
		@media screen and ( max-width:576px)
			padding: 0 !important
			margin-left: 0
			margin-top: 30px
			width: 100%
		label
			display: none
		input
			padding: 0 10px
			margin-top: 0
			height: 40px
			text-transform: uppercase
			width: 135px !important
			margin-left: 15px
			@media screen and ( max-width: 1024px)
				width: 100% !important
			@media screen and ( max-width: 576px)
				margin-left: 0
	// .rcRefreshImage
	// 	position: absolute
	// 	opacity: 1
	// 	cursor: pointer
	// 	height: 0
	// 	width: 0
	// 	right: -5px
	// 	top: 5px
	// 	color: #ffffff
	// 	z-index: 0
	// 	font-size: 0
	// 	&:before
	// 		font-family: "Linearicons-Free"
	// 		position: absolute
	// 		top: -5px
	// 		right: 170px
	// 		opacity: 1
	// 		z-index: 99
	// 		color: #111111
	// 		font-size: 30px
	// 		content: "\e860"
	// 		display: flex
	// 		justify-content: center
	// 		align-items: flex-start
	// 		@media screen and ( max-width: 767px)
	// 			right: 200px
	// 		@media screen and ( max-width:576px)
	// 			height: 50px
	// 			right: -15px
@media screen and ( max-width:500px )
	#ctl00_mainContent_ctl05_captcha_ctl00
		display: none
#ctl00_mainContent_ctl02_captcha_ctl01
	position: relative
#ctl00_mainContent_ctl06_btnReset,#ctl00_mainContent_ctl05_captcha_ctl00,#ctl00_mainContent_ctl08_captcha_ctl00,#ctl00_mainContent_ctl07_captcha_ctl00
	display: none
#ctl00_mainContent_ctl06_txtCaptcha
	margin-left: 10px
	@media screen and ( max-width: 576px)
		margin: 0

#ctl00_mainContent_ctl06_captcha_CaptchaLinkButton
	#text
		display: none
.RadCaptcha
	@media screen and ( max-width:767.5px)
		margin-left: 0
	span
		display: none
	>div
		>div
			display: flex
			position: relative
			height: 40px !important
			margin-right: 15px
			align-items: center
			margin-top: 0
			@media (max-width: 767.98px)
				margin-right: 0
				width: auto
				flex-direction: unset
#wrap-form-popup
	height: 540px
	max-width: 825px !important
	.wrap-form
		span
			&.fa-exclamation-triangle
				font-weight: 400!important
				font-style: italic
				color: red
				font-family: 'Montserrat', sans-serif !important
				font-size: .75rem
				position: absolute
				top: 34%
				transform: translateY(-50%)
				right: 20px
				animation: AlertError 0.4s 1 linear!important
				padding: 55px 62px
				&::before
					display: none
		textarea
			padding: 0px 0px
		.frm-btnwrap
			margin-left: 0
			position: static
			input
				margin-bottom: 0
