.block__tool.dekstop
	#phonering-alo-phoneIcon.phonering-alo-phone.phonering-alo-green.phonering-alo-show
	.phonering-alo-ph-circle
	.phonering-alo-ph-circle-fill
	a.pps-btn-img(href='')
		.phonering-alo-ph-img-circle
