section.news-detail
	.container
		.row
			.col-lg-10.box-shaw
				.card-title
					h1 Ngành đóng gói và chế biến bao bì Việt Nam: Nhiều cơ hội để bứt phá và tín hiệu đáng mừng
					.bottom-wrapper-news-detail
						time 15.03.2021
						.social-network-share
							.icon
								a(href="#")
									span.ri-thumb-up-fill
									.text Thích
								a(href="#")
									.text Chia sẻ
				.fullcontent 
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p
						img(src="./img/news/detail.png", alt="")
					p
						strong Nhiều cơ hội bứt phá
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p
						img(src="./img/news/detail.png", alt="")
					p
						strong Nhiều cơ hội bứt phá
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!

section.other-news
	.container
		h2.head-title Tin tức khác
		.other-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0; i<18; i++)
						.swiper-slide
							.other-wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/news/2.png", alt="")
								.content
									.date
										time 15.03.2021
									.title
										a(href="#") Nguyên lý hoạt động của máy đóng gói bao bì tự động
