section.haumai-contact
	.container
		.block-title
			h1.head-title Máy hút liên tục
			.contact
				span.ri-phone-fill
				a(href='javascript:void(0)' data-fancybox="" data-src="#wrap-form-popup") Liên hệ
		.haumai-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-3.png", alt="")
								.title
									a(href="#") Máy hút chân không WP-3090S

section.haumai-contact-2
	.container
		.block-title
			h1.head-title Máy hút chân không
			.contact
				span.ri-phone-fill
				a(href='javascript:void(0)' data-fancybox="" data-src="#wrap-form-popup") Liên hệ
		.haumai-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-3.png", alt="")
								.title
									a(href="#") Linh kiện máy hút chân không 1

section.haumai-contact-3
	.container
		.block-title
			h1.head-title Máy dán thùng
			.contact
				span.ri-phone-fill
				a(href='javascript:void(0)' data-fancybox="" data-src="#wrap-form-popup") Liên hệ
		.haumai-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-3.png", alt="")
								.title
									a(href="#") Linh kiện máy hút chân không 1

section.haumai-contact-4
	.container
		.block-title
			h1.head-title Máy đai thủng
			.contact
				span.ri-phone-fill
				a(href='javascript:void(0)' data-fancybox="" data-src="#wrap-form-popup") Liên hệ
		.haumai-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-3.png", alt="")
								.title
									a(href="#") Linh kiện máy hút chân không 1

section.haumai-contact-5
	.container
		.block-title
			h1.head-title Máy đóng gói đứng
			.contact
				span.ri-phone-fill
				a(href='javascript:void(0)' data-fancybox="" data-src="#wrap-form-popup") Liên hệ
		.haumai-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-3.png", alt="")
								.title
									a(href="#") Linh kiện máy hút chân không 1

section.haumai-contact-6
	.container
		.block-title
			h1.head-title Máy đóng hộp carton
			.contact
				span.ri-phone-fill
				a(href='javascript:void(0)' data-fancybox="" data-src="#wrap-form-popup") Liên hệ
		.haumai-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-4.png", alt="")
								.title
									a(href="#") Linh kiện máy hút chân không 1

section.haumai-contact-7
	.container
		.block-title
			h1.head-title Máy dán nhãn decal
			.contact
				span.ri-phone-fill
				a(href='javascript:void(0)' data-fancybox="" data-src="#wrap-form-popup") Liên hệ
		.haumai-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-5.png", alt="")
								.title
									a(href="#") Linh kiện máy hút chân không 1

section.haumai-contact-8
	.container
		.block-title
			h1.head-title Máy chiếc gói và đóng nắp
			.contact
				span.ri-phone-fill
				a(href='javascript:void(0)' data-fancybox="" data-src="#wrap-form-popup") Liên hệ
		.haumai-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-4.png", alt="")
								.title
									a(href="#") Linh kiện máy hút chân không 1

#wrap-form-popup
	.title-popup Liên hệ tư vấn
	.row
		.form-group.col-12.col-md-6.col-6
			input.form-control(type='text', placeholder="Họ tên *")
		.form-group.col-12.col-md-6.col-6
			input.form-control(type='text',placeholder="Số điện thoại *")
		.form-group.col-12.col-md-6.col-6
			input.form-control(type='text',placeholder="Email *")
		.form-group.col-12.col-md-6.col-6
			input.form-control(type='text',placeholder="Tên sản phẩm")
		.form-group.col-12.col-md-6.col-6
			input.form-control(type='text',placeholder="Tên công ty")
		.form-group.col-12.col-md-6.col-6
			input.form-control(type='text',placeholder="Chức vụ")
		.form-group.col-12
			textarea#inpputTextArea.form-control(rows='3',placeholder="Nội dung")
	.frm-btnwrap
		.frm-btn
			input(type="submit" value ="GỬI")
