
// Product 
.home_s-2,.home_s-3,.home_s-4,.home_s-5,.product-list,.product-detail-4,.haumai-contact,.haumai-contact-2,.haumai-contact-3,.haumai-contact-4,.haumai-contact-5,.haumai-contact-6,.haumai-contact-7,.haumai-contact-8,.solution-list
	background: #f0f5f9
	.wrapper
		padding: 30px 25px
		background-color: rgb(255, 255, 255)
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1)
		@media screen and ( max-width: 576px)
			padding: 15px
		.card-img
			display: flex
			justify-content: center
			align-items: center
			cursor: pointer
			a
				display: block
				max-width: 100%
				max-height: 100%
				width: 100%
				height: 170px
				img
					width: 100%
					height: 100%
					object-fit: contain
		.title
			margin-top: 20px
			a
				font-size: 15px
				color: #333333
				font-weight: 500
				-webkit-box-orient: vertical
				-webkit-line-clamp: 2
				-o-text-overflow: ellipsis
				display: -webkit-box
				overflow: hidden
				text-overflow: ellipsis
				height: 45px
				cursor: pointer
		&:hover
			.title
				a
					color: #da251c
					text-decoration: underline
// End product

.news-detail-page,.recruitment-detail,.recruitment-detail-other
	background: #f0f5f9
	
.homepage
	.home_s-6,.home_s-7
		background: #fff

.about-3
	background: #fff

.product-detail-page
	.modulepager
		display: none

.productpage
	.product-detail-3
		display: none


// login
.login-page
	padding: 60px 0
	@media screen and ( max-width: 1024px)
		padding: 30px 0
	.flex-wrap
		display: flex
		justify-content: center
		align-items: center
		.login-panel
			.login-form
				box-shadow: 0 0 10px 0 rgba(0,0,0,.2)
				background: #fff
				padding: 25px
				.headtitle
					color: #333
					text-align: center
					text-transform: uppercase
					font-size: 18px
					display: none
				.form-group
					margin-top: 20px
					.panel
						.panel-heading
							color: #333
							text-align: center
							font-size: 18px
							padding-bottom: 10px
							font-weight: 700
							border-bottom: 1px solid #0059b6
					.panel-body
						.form-horizontal
							.form-group
								display: flex
								align-items: center
								&:last-child
									display: none
								label
									display: none
								&.forget
									display: none
									// label
									// 	padding-top: 2px
									// 	padding-left: 5px
									// 	font-size: 14px
								input[type="text"],input[type="password"]
									width: 100%
									height: 40px
									border: 0
									margin-left: 10px
									padding-left: 15px
									font-size: 14px
									margin-left: 0
									background: #f5f5f5
									&::placeholder
										font-size: 14px
										color: #999999
								input[type="submit"]
									border: 0
									background: #004995
									color: #fff
									width: 180px
									height: 40px
									font-size: 14px
									border-radius: 50px
									&::placeholder
										font-size: 14px
									&:hover
										background: #da251c
								// #ctl00_mainContent_login1_LoginCtrl_lnkPasswordRecovery
									font-size: 14px
									color: #333
									padding-right: 10px
									&:hover
										color: #da251c
								// #ctl00_mainContent_login1_LoginCtrl_lnkRegisterExtraLink
									font-size: 14px
									color: #333
									&:hover
										color: #da251c
								#ctl00_mainContent_login1_LoginCtrl_lnkPasswordRecovery,#ctl00_mainContent_login1_LoginCtrl_lnkRegisterExtraLink
									display: none
				.alert
					color: red

// passwordrecovery
.passwordrecovery
	background: #f5f5f5
	.wrap-recover
		padding: 30px 0
		text-align: center
		.panel-primary
			padding: 30px 0
			box-shadow: 0 0 10px 0 rgba(0,0,0,.2)
			background: #fff
			border-radius: 5px
			width: 35%
			display: block
			margin-left: auto
			margin-right: auto
			@media screen and ( max-width: 1023px)
				width: 100%
			.panel-heading
				h1
					color: #333
					text-align: center
					font-size: 18px
					text-transform: uppercase
		.form-horizontal
			.form-group
				label
					padding-top: 10px
					max-width: 100%
					font-size: 14px
				.col-sm-offset-3
					padding-top: 20px
				.col-sm-offset-3,.col-sm-9
					max-width: 100%
					input[type="text"]
						width: 250px
						height: 40px
						border: 1px solid #e0e0e0
						border-radius: 5px
						margin-top: 20px
					input[type="submit"]
						width: 250px
						height: 40px
						border-radius: 5px
						background: #004995
						color: #fff
						border: none
						&:hover
							background: #da251c
					.captcha
						.RadCaptcha
							display: flex
							justify-content: center
							align-items: center
							#ctl00_mainContent_PasswordRecovery1_UserNameContainerID_captcha_ctl01
								margin-top: 0
								height: auto !important
								flex-direction: row !important
	.form-group .fa.fa-exclamation-triangle
		right: auto 
		left: 68%
		transform: translateX(-50%)
		top: 32px

// signup
.registerpage
	.flex-wrap
		display: flex
		justify-content: center
		align-items: center
	.signup-panel
		padding: 30px 0
		.signup-form
			box-shadow: 0 0 10px 0 rgba(0,0,0,.2)
			padding: 30px
			background: #ffffff
			.headtitle
				color: #333
				text-align: center
				text-transform: uppercase
				font-size: 18px
			#ctl00_mainContent_pnlRegisterWrapper
				margin-top: 10px
				.form-horizontal
					.form-group
						label
							margin: 10px 0
							font-size: 14px
						input
							height: 35px
							border: 1px solid #e0e0e0
							width: 100%
						select
							height: 40px
							border: 1px solid #e0e0e0
							width: 100%
						.settingcontrol
							.fa-exclamation-triangle
								font-size: 12px
								color: red
			table
				tbody
					tr
						td
							input
								padding: 10px 10px
								border: 1px solid #e0e0e0
								margin-top: 15px
								background: #004995
								color: #ffffff
								&:hover
									background: #da251c
