<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

	<templatelist xsltname="NewsList.xslt" name="Danh sách tin tức"></templatelist>
	<templatelist xsltname="Recruitment.xslt" name="Danh sách tuyển dụng"></templatelist>
	<templatelist xsltname="NewsGuarantee.xslt" name="Hướng dẫn sử dụng"></templatelist>
	<templatelist xsltname="NewsGuarantee.xslt" name="Hướng dẫn sửa chữa - bảo trì"></templatelist>

	<templatedetail xsltname="News-Detail.xslt" name="Chi tiết tin"></templatedetail>
	<templatedetail xsltname="Recruitment-Detail.xslt" name="Chi tiết tuyển dụng"></templatedetail>
  <position>
    <add name="Trang chủ" value="1" resourcefile="" />
  </position>
</templates>
