section.about
	.container
		.row
			.col-lg-6
				h1.head-title Giới thiệu
				.content 
					p <strong>Công ty thiết bị đóng gói Nhân hà </strong>chủ yêu tập trung kinh doanh, phân phối các loại máy móc, thiết bị phục vụ cho các ngành thủy sản, điện tử, chế biến gỗ xuất khẩu, thực phẩm,... Công ty đang có một đội ngủ kỹ thuật, chuyên đầu ngành trong lĩnh vực máy móc các loại, có kinh nghiệm lâu năm trong việc lắp đặt, sửa chữa, bảo hành máy móc. Ngoài các máy móc kế bên, Công ty còn là một nhà phân phối về mặt màng POF, mực in, giấy bao gói thực phẩm trên phạm vi cả nước.
					p Công ty thiết bị đóng gói Nhân hà chủ yêu tập trung kinh doanh, phân phối các loại máy móc, thiết bị phục vụ cho các ngành thủy sản, điện tử, chế biến gỗ xuất khẩu, thực phẩm,... Công ty đang có một đội ngủ kỹ thuật, chuyên đầu ngành trong lĩnh vực máy móc các loại, có kinh nghiệm lâu năm trong việc lắp đặt, sửa chữa, bảo hành máy móc. Ngoài các máy móc kế bên, Công ty còn là một nhà phân phối về mặt màng POF, mực in, giấy bao gói thực phẩm trên phạm vi cả nước.
			.col-lg-6
				.card-img
					img(src="./img/about/1.png", alt="")

section.about-2
	.container
		h2.head-title Tầm nhìn - sứ mệnh
		.row
			.col-lg-6 
				.card-img
					img(src="./img/about/2.png", alt="")
			.col-lg-6
				.content
					h3.title-zone Tầm nhìn
					.caption Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.row
			.col-lg-6 
				.card-img
					img(src="./img/about/2.png", alt="")
			.col-lg-6
				.content
					h3.title-zone Sứ mệnh
					.caption Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

section.about-3
	.container
		h2.head-title đối tác khách hàng
		.brand-slider-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0; i<18; i++)
						.swiper-slide
							.brand-img.zoom-in
								img(src="./img/home/brand.png", alt="") 
