extends _layout.pug

block var
	- var title = 'Liên hệ'
	- var bodyClass = 'contact-page'

block main
	include ../components/UI/top-banner/index
	include ../components/UI/breadcrumb/index
	include ../components/contact/index
