extends _layout.pug

block var
	- var title = 'Hậu mãi'
	- var bodyClass = 'haumai-list-page'

block main
	include ../components/UI/top-banner/index
	include ../components/UI/breadcrumb/index
	include ../components/haumai-list/index
