extends _layout.pug

block var
	- var title = 'Tin tức chi tiết'
	- var bodyClass = 'news-detail-page'

block main
	include ../components/UI/breadcrumb/index
	include ../components/news-list/news-detail/index
