extends _layout.pug

block var
	- var title = 'Sản phẩm'
	- var bodyClass = 'product-list-page'

block main
	include ../components/UI/top-banner/index
	include ../components/UI/breadcrumb/index
	include ../components/product-list/index
	include ../components/UI/pagination/index
