extends _layout.pug

block var
	- var title = 'Tuyển dụng'
	- var bodyClass = 'recruitment-page'

block main
	include ../components/UI/top-banner/index
	include ../components/UI/breadcrumb/index
	include ../components/recruitment/index
