extends _layout.pug

block var
	- var title = 'Tuyển dụng chi tiết'
	- var bodyClass = 'recruitment-detail-page'

block main
	include ../components/UI/breadcrumb/index
	include ../components/recruitment/recruitment-detail/index
