extends _layout.pug

block var
	- var title = 'Giải pháp'
	- var bodyClass = 'solution-page'

block main
	include ../components/UI/top-banner/index
	include ../components/UI/breadcrumb/index
	include ../components/solution/index
	include ../components/UI/pagination/index
