footer
	.footer-top
		.container
			.row
				.col-6.col-md-6.col-lg-3
					.support-footer
						.icon-img
							img(src="./img/home/footer-icon-1.png", alt="")
						.text-icon Dịch vụ chất lượng
				.col-6.col-md-6.col-lg-3
					.support-footer
						.icon-img
							img(src="./img/home/footer-icon-2.png", alt="")
						.text-icon Bảo hành - Bảo dưỡng
				.col-6.col-md-6.col-lg-3
					.support-footer
						.icon-img
							img(src="./img/home/footer-icon-3.png", alt="")
						.text-icon Hỗ trợ 24/7
				.col-6.col-md-6.col-lg-3
					.support-footer
						.icon-img
							img(src="./img/home/footer-icon-4.png", alt="")
						.text-icon Hậu mãi sau bán hàng

	.footer-bottom
		.container
			.row
				.col
					.footer-address
						.card__title
							h4 Công ty TNHH thiết bị đóng gói nhân hòa
						.item-footer
							ul
								li
									p 905 Đường 3/2, Phường 7, Quận 11, TP.Hồ Chí Minh
								li 
									.icon
										span.ri-phone-fill
									p (84-8) 3863 1080
								li
									.icon
										span.ri-printer-fill
									p (84-8) 3862 5707
								li
									.icon
										span.ri-mail-fill
									p winpack.com.vn@gmaill.com
				.col
					.footer-card
						.card__title
							h4 Giải pháp
						.item-footer
							ul
								li
									a(href="") Cho bao bì giấy
								li
									a(href="") Cho bao bì thủy tinh 
								li
									a(href="") Cho bao bì kim loại
								li
									a(href="") Cho bao bì nhựa
								li
									a(href="") Thiết kế và cung cấp trọn
								li
									a(href="") Gói dây tự động chuyển
				.col
					.footer-card
						.card__title
							h4 Hậu mãi
						.item-footer
							ul
								li
									a(href="") Hướng dẫn sử dụng
								li
									a(href="") Hướng dẫn sửa chữa
								li
									a(href="") Phương thức vận chuyển
								li
									a(href="") Bảo trì
								li
									a(href="") Đặt hàng link kiện
				.col
					.footer-card
						.card__title
							h4 Liên kết nhanh
						.item-footer
							ul
								li
									a(href="") Giới thiệu
								li
									a(href="") Tin tức
								li
									a(href="") Tuyển dụng
								li
									a(href="") Liện hệ
				.col
					.footer-card
						.card__title
							h4 Đăng ký nhận bản tin
						.desc-footer Vui lòng để lại email để nhận thông tin mới nhất từ chúng tôi
						.subscribe
							.subscribefrm
								input(type="text" placeholder='Email')
								button.ri-mail-fill
						.notification
							img(src="./img/home/footer-img.png", alt="")
	
	.footer-copyright
		.container
			.row.copyright-wrapper
				.right-text
					p Copyright © 2021 Winpack. Website designed by Canh Cam.
