section.home_s-7
	.container
		h2.head-title Tin Tức - Sự kiện
		.row
			-for(i=0;i<4;i++)
				.col-lg-3
					.block-news
						.card-img.zoom-in
							a(href="#")
								img(src="./img/home/news.png", alt="")
						.content
							.date
								time 20.03.2021
							.title
								a(href="#") Vi phạm về hàng đóng gói sẵn ngày càng tinh vi
		a(href="#").view-more Xem thêm
			span.ri-arrow-right-line
