section.recruitment-detail
	.container
		.row
			.col-lg-10
				.card-title
					h1 Nhân viên kỹ thuật (Điện lạnh)
					.bottom-wrapper-news-detail
						.icon-detail
							span.ri-calendar-check-fill
							time Hạn nộp: 20.03.2021
						.social-network-share
							.icon
								a(href="#")
									span.ri-thumb-up-fill
									.text Thích
								a(href="#")
									.text Chia sẻ

				.info-hr-detail
					.card-img
						img(src="./img/recruitment/detail.png", alt="")
					.card-body-hr-detail
						.title-zone
							h2 Thông tin tuyển dụng
						table.table.table-striped
							tbody
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-1.png", alt="")
											p Số lượng cần tuyển
									|
									td 2
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-2.png", alt="")
											p Độ tuổi
									|
									td 22-30 tuổi
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-3.png", alt="")
											p Hình thức công việc
									|
									td Toàn thời gian cố định
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-4.png", alt="")
											p Địa điểm làm việc
									|
									td TP.Hồ Chí Minh
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-4.png", alt="")
											p Kinh nghiệm
									|
									td 1 năm - 2 năm
								|
								tr
									td(scope='row')
										.caption
											img(src="./img/recruitment/icon-6.png", alt="")
											p Yêu cầu bằng cấp
									|
									td Tốt nghiệp Cao đẳng/ Đại học
								|
								tr
									td(scope='row')
										.caption
											img(src="./img/recruitment/icon-7.png", alt="")
											p Yêu cầu giới tính
									|
									td Nam/Nữ
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-8.png", alt="")
											p Thời hạn nộp hồ sơ
									|
									td 29/04/2020

				//- MÔ TẢ CÔNG VIỆC
				.hr-list-content
					.hr-detail-content
						h3 MÔ TẢ CÔNG VIỆC
					.text
						ul
							li 
								p Lương 15-20 triệu
							li 
								p Tăng lương định kỳ và đột xuất hàng năm
							li 
								p Thưởng theo hiệu quả kinh doanh nhận hoa hồng theo quý
							li 
								p Lương tháng 13 + thưởng theo năng lực 
							li 
								p Được tham gia đầy đủ các chế độ BHXH, BHYT, BHTN,...
							li 
								p Du lịch trong và ngoài nước 
							li 
								p Tham gia các chương trình hội thao, teambuilding... 
							li 
								p Được đào tạo nâng cao các kỹ năng 
							li 
								p Nhiều cơ hội thăng tiến

					.hr-detail-content
						h3 Yêu cầu chung
					.text
						ul
							li 
								p Lên kế hoạc truyền thông hiệu quả, góp phần tăng doanh số cho các chương trình khuyến mãi và tạo hình ảnh đẹp cho công ty
							li 
								p Tạo được tốt với các phóng viên báo/đài
							li 
								p Đảm bảo việc hạn chế tối đa sai sót trong công việc
							li 
								p Hoàn tất cả việc được giao, dẳm bảo đúng tiến độ và hiệu quả cao.
							li 
								p Mức lương hài lòng với đối tác, đồng nghiệp, lãnh đạo,...
							li 
								p Chủ động, tự giác trong việc thực hiện nhiệm vụ được giao.

					.hr-detail-content
						h3 Quyền lợi nhân viên
					.text
						ul
							li 
								p Tốt nghiệp đại học chuyên ngành XDDD
							li 
								p Kinh nghiệp 5 năm
							li 
								p Thành thạo vi tính văn phòng, các phần mềm chuyên ngành

					.hr-detail-content
						h3 HỒ SƠ XIN VIỆC GỒM
					.text
						ul
							li 
								p Đơn xin việc
							li 
								p Sơ yếu lý lịch
							li 
								p Hộ khẩu CMND và giấy khám sức khỏe
							li 
								p Các giấy tờ liên qua. (Sao y công chứng)
							li 
								p Các bằng cấp có liên quan
				
					.form-apply-detail
						.apply-form
							.btn.button-apply
								a(href='javascript:void(0)' data-fancybox="" data-src="#form-apply") Ứng tuyển
							.text Hoặc
							.btn.button-download
								a(href="") Tải hồ sơ mẫu


section.recruitment-detail-other
	.container
		h2.head-title Tuyển dụng khác
		.other-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<4;i++)
						.swiper-slide
							.content-jobs-list
								.title-jobs  Nhân viên kỹ thuật (Điện lạnh)

								.top-jobs
									.city-jobs
										.icon-jobs
											span.ri-map-pin-2-fill
										.title-zone-city Địa điểm: Tp.Hồ Chí Minh
									.money-jobs
										.icon-jobs
											span.ri-money-dollar-circle-fill
										.title-zone-money 7.000.000 vnđ

								.bottom-jobs
									.date
										.icon
											span.ri-calendar-check-fill
										time Hạn nộp: 20/03/2021
									.amount
										.icon
											span.ri-account-circle-fill
										.title-amount Số lượng: 02

								.view-more Chi tiết
									span.ri-arrow-right-s-line
