<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<position>
		<add name="Home - Sản phẩm" value="1" resourcefile="" />
		<add name="Home - Sản phẩm máy liên tục" value="2" resourcefile="" />
		<add name="Home - Sản phẩm máy hút chân không" value="4" resourcefile="" />
		<add name="Home - Sản phẩm máy dán thùng" value="8" resourcefile="" />
		<add name="Home - Sản phẩm máy đai thùng" value="16" resourcefile="" />

		<add name="Hậu Mãi - Máy hút liên tục" value="32" resourcefile="" />
		<add name="Hậu Mãi - Máy hút chân không" value="64" resourcefile="" />
		<add name="Hậu Mãi - Máy dán thùng" value="128" resourcefile="" />
		<add name="Hậu Mãi - Máy đai thùng" value="256" resourcefile="" />
		<add name="Hậu Mãi - Máy đóng gói đứng" value="512" resourcefile="" />
		<add name="Hậu Mãi - Máy đóng gói hộp carton" value="1024" resourcefile="" />
		<add name="Hậu Mãi - Máy dán nhãn decal" value="2048" resourcefile="" />
		<add name="Hậu Mãi - Máy đóng chiết rót và đóng nắp" value="4096" resourcefile="" />
	</position>
  
	<showoption name="Mới" value="1" class="promotion op1" />
	<showoption name="Khuyến mãi" value="2" class="promotion op2" />

	<templatelist xsltname="Product-List.xslt" name="Danh sách sản phẩm" />
	<templatelist xsltname="Product-Solution.xslt" name="Danh sách giải pháp" />
	<templatelist xsltname="HauMai-Contact.xslt" name="Hậu mãi linh kiện" />

	<templatedetail xsltname="Product-Detail.xslt" name="Chi tiết sản phẩm" />
</templates>
