section.home_s-5
	.container
		.block-title
			h2.head-title Máy đai thùng
			.view-more
				a(href="#") Xem tất cả
				span.ri-arrow-right-line 
		.home-slide-5-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-5.png", alt="")
								.title
									a(href="#") Máy dán quấn đai thủng carton DBA-200