<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
	  <add name="Giải pháp" value="2" resourcefile="" />
	  <add name="Hậu mãi" value="4" resourcefile="" />
	  <add name="Liên kết nhanh" value="8" resourcefile="" />
	  <add name="Home - Sản phẩm" value="16" resourcefile="" />
	  <add name="Home - Sản phẩm liên tục" value="32" resourcefile="" />
	  <add name="Home - Sản phẩm máy hút chân không" value="64" resourcefile="" />
	  <add name="Home - Sản phẩm máy dán thùng" value="128" resourcefile="" />
	  <add name="Home - Sản phẩm máy đai thùng" value="256" resourcefile="" />
	  <add name="Home - Đối tác khách hàng" value="512" resourcefile="" />
	  <add name="Home - Tin tức" value="1024" resourcefile="" />
    </position>

</settings>
