<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Header - Main Menu" value="1" resourcefile="" />
      <!-- <add name="Header - Main Menu 2" value="2" resourcefile="" />
      <add name="Footer - Footer Menu 1" value="4" resourcefile="" />
      <add name="Footer - Footer Menu 2" value="8" resourcefile="" />
      <add name="Footer - Footer Menu 3" value="16" resourcefile="" />
      <add name="Khám phá Nhang Xanh" value="32" resourcefile="" />
      <add name="Dòng sản phẩm Nhang Xanh" value="64" resourcefile="" />
      <add name="Tại sao chọn Nhang Xanh" value="128" resourcefile="" />
      <add name="Nhận xét" value="256" resourcefile="" />
      <add name="Tin tức - Hoạt động" value="512" resourcefile="" /> -->
    </position>

</settings>