header
	.container
		.header
			.header_logo
				a(href="index.html")
					img(src="./img/home/Logo.png", alt="")
			.header-main
				.header-infor
					.searchbox
						input(type="text",placeholder='Nhập từ khóa')
						button
							span.ri-search-2-line
					.hotline-wrapper
						.hotline-box
							.icon-tel
								span.ri-phone-fill
							.text-tel
								a(href="tel:+84 28 3855 3753 - 3955 7774") (84-8) 3863 1080
					.header_btn
						span.ri-menu-line
				.header-menu
					ul.nav-menu
						li.menu-list.active
							a(href="#")
								span.ri-home-4-fill
						li.menu-list
							a(href="#").title-menu-list Giới thiệu
						li.menu-list
							.moblie-show-menu
								a(href="#").title-menu-list Sản phẩm
								span.mdi.mdi-chevron-down
							.mega-menu
								.container
									ul.has-mega-menu
										li
											.img-has-mega
												a(href="#")
													img(src="./img/home/img-mega.png", alt="")
											.moblie-show-mega
												a(href="").title-mega Sản phẩm
												span.mdi.mdi-chevron-down
											ul.mega-list
												li
													a(href="") Máy hàn liên tục
												li
													a(href="") Máy hút chân không
												li
													a(href="") Máy dáng thùng
												li
													a(href="") Máy đai thùng
												li
													a(href="") Máy đóng gói đứng
										
						li.menu-list
							a(href="#").title-menu-list Giải pháp
						li.menu-list
							a(href="#").title-menu-list Hậu mãi
						li.menu-list
							a(href="#").title-menu-list Tin tức
						li.menu-list
							a(href="#").title-menu-list Tuyển dụng
						li.menu-list
							a(href="#").title-menu-list Liên hệ



	.menu_mobile
		.header_btn
			span.ri-close-line
		.mobile-wrapper
	.overlay
