section.product-detail
	.container
		.row
			.col-lg-6
				.gallery-product-detail-slide
					.swiper-container.gallery-top
						.swiper-wrapper
							-for(i=0;i<8;i++)
								.swiper-slide
									img(src="./img/product/1.png", alt="")
					.swiper-container.gallery-thumbs
						.swiper-wrapper
							-for(i=0;i<8;i++)
								.swiper-slide
									img(src="./img/product/2.png", alt="")
						.nav-arrow-prev
							em.material-icons arrow_back_ios
						.nav-arrow-next
							em.material-icons arrow_forward_ios
			.col-lg-6
				.item-desc-pro-detail
					.title Máy hàn miệng bao WP-6041
					.table-pro-detail
						table.table.table-striped
							tbody
								tr
									th(scope='row') Tốc độ băng tải
									|
									td 0 ~ 12/phút
								|
								tr
									th(scope='row') Bề rộng đường hàn
									|
									td 10mm
								|
								tr
									th(scope='row') Dải nhiệt độ
									|
									td 0 ~ 3000C
								|
								tr
									th(scope='row') Độ dày mối hàn
									|
									td < 0.12mm
								tr
									th(scope='row') Kích thước băng tải (DxR)
									|
									td 1100x205mm
								|
								tr
									th(scope='row') Tải trọng tối đa
									|
									td 7.5kg
								|
								tr
									th(scope='row') Nguồn điện
									|
									td 220V, 50Hz, 1phase
								|
								tr
									th(scope='row') Kích thước máy (DxRxC)
									|
									td 1100x610x1030
								tr
									th(scope='row') Trọng lượng máy
									|
									td 85kg
					.bottom-wrapper
						.social-network-share
							.icon
								a(href="#")
									span.ri-thumb-up-fill
									.text Thích
								a(href="#")
									.text Chia sẻ
					.brochure
						a(href="#") Download brochure sản phẩm 

section.product-detail-2
	.container
		.row
			.col-lg-7
				.tab-product-detail
					.tab-description
						ul.tab-navigation
							li.active
								a(href="javascript:void(0)" data-type='tab-1') Tính năng sản phẩm
							li
								a(href="javascript:void(0)" data-type='tab-2') Thông số kỹ thuật
				.tab-wrapper
					.tab-item.active#tab-1
						.product-detail-more
							article
								.fullcontent
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện. chắn, dễ sử
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện.
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện. chắn, dễ sử
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện. chắn, dễ sử
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện.
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện.miệngmiệngmiệngmiệngmiệngmiệngmiệng
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện. chắn, dễ sử
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện.
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện. chắn, dễ sử
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện.
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện. chắn, dễ sử
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện. chắn, dễ sử
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện.
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện.miệngmiệngmiệngmiệngmiệngmiệngmiệng
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện. chắn, dễ sử
									p Máy hàn miệng bao tự động được kế thiết gọn đẹp, chắc chắn, dễ sử dụng và ít hao diện.End
								.btn-view-more
									span Xem Thêm
									em.ri-arrow-down-s-line

			.col-lg-5.pg
				.title Hoạt động của sản phẩm
				.figure-video.media-play
					.wrapper-video
						a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
							img(src="./img/product/1.png", alt="")
					.video
						.icon
							img(src="./img/product/video.png", alt="")

section.product-detail-3
	.container
		h2.head-title Liên hệ tư vấn
		.row
			.col-lg-10
				.wrap-form
					.row
						.form-group.col-12
							input.form-control(type='text', placeholder="Họ tên *")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Email *")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Số điện thoại *")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Tên công ty")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Chức vụ")
						.form-group.col-12
							textarea#inpputTextArea.form-control(rows='3',placeholder="Nội dung")
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="GỬI")

section.product-detail-4
	.container
		h2.head-title Sản phẩm  khác
		.product-other-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.wrapper
								.card-img.zoom-in
									a(href="#")
										img(src="./img/home/h-3.png", alt="")
								.title
									a(href="#") Máy hút chân không WP-3090S
