section.haumai-guarantee
	.container
		.row
			.col-lg-6
				.figure-video
					.wrapper-video
						a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
							img(src="./img/haumai/video-1.png", alt="")
					.caption Quy trình bảo trì sản phẩm, thiết bị máy hàn cho bao bì thủy tinh
					.video
						.icon
							img(src="./img/product/video.png", alt="")
			.col-lg-6
				.row
					-for(i=0;i<4;i++)
						.col-lg-6
							.figure-video-right
								.wrapper-video
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/haumai/2.png", alt="")
								.caption Quy trình bảo trì sản phẩm, thiết bị máy hàn cho bao bì thủy tinh
								.video
									.icon
										img(src="./img/product/video.png", alt="")
		.row
			-for(i=0;i<8;i++)
				.col-lg-3
					.figure-video-bottom
						.wrapper-video
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/haumai/2.png", alt="")
						.caption Quy trình bảo trì sản phẩm, thiết bị máy hàn cho bao bì thủy tinh
						.video
							.icon
								img(src="./img/product/video.png", alt="")
